<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>图片填充.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>415FE0511C7C3B1300FB237C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>415FE0641C7C3B1300FB237C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>415FE06F1C7C3B1300FB237C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
